*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root{
    --lightblue: #33DDEC;
    --darkblue: #2D25FD;
    --lightpurple: #9520E6;
    --darkpruple: #58128A;
    --pink: #F81D92;
    --orange: #FD7429;
    --yellow: #FDAA02;
    --green: #9EF3B4;
    --white: #F5F5F5;
    --black: #111224;
    --textfont: "libre-franklin"; 
    --headingfont: "termina";
    --textsize: 20px;
    --headingsize:50px;
    --mobileheadingsize:30px;
    --mobiletextsize:15px;

}

html {
    scroll-behavior: smooth ;
}

body{
    width: 100%;
    height: 100%;
}

.wrapper {
    word-wrap: break-word;
    width: 500px;
}

/*Header*/

.first-part{
    background-image: url(images/background.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-color: var(--white);
}

header{
    height: 100vh;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}

nav{
    height: 10%;
    padding-top: 50px;
    font-family:var(--textfont);
}

ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

li{
    list-style-type: none;
    display: inline-block;
    
}

li a {
    text-decoration: none;
    color: var(--black);
    font-size: 20px;
    font-weight: 500 ;
}

li :hover {
    color: var(--lightpurple);
}

.logo-div {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 80%;
}

.logo-desktop {
    width: 1000px;
}

.motto-desktop {
    display: flex;
    justify-content: center;

    font-family:var(--headingfont);
    font-size: 20px;
    font-weight: 500;
}

.some-desktop {
    width: 100px;
    margin-top: -50px;
    font-family:var(--textfont);
    font-size: 20px;
    font-weight: 500;
    color: var(--black); 
}
 
.some-desktop a{
    cursor: pointer;
    text-decoration: none;
    color: var(--black);
}

.some-desktop :hover {
    color: var(--lightpurple);
}


/*Animate sticky logo*/

.heartbeat  {
    width: 100px; 
    float: right;
    margin-right: 10px;
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}


.holder {
    width: 100px;
    float: right;
    margin-right: 10px;
    -webkit-animation:heartbeat 1.5s ease-in-out 3s 6 both;
    animation:heartbeat 1.5s ease-in-out 3s 6 both;
    position: fixed;
    right: 0px;
    bottom: 30px;
}

 @-webkit-keyframes heartbeat{from{-webkit-transform:scale(1);transform:scale(1);
    -webkit-transform-origin:center center;transform-origin:center center;
    -webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}

    10%{-webkit-transform:scale(.91);transform:scale(.91);
        -webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}

        17%{-webkit-transform:scale(.98);transform:scale(.98);
            -webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}

            33%{-webkit-transform:scale(.87);transform:scale(.87);
                -webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}
                
                45%{-webkit-transform:scale(1);transform:scale(1);
                    -webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}
                    
                    
@keyframes heartbeat{from{-webkit-transform:scale(1);transform:scale(1);
    -webkit-transform-origin:center center;transform-origin:center center;
    -webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}

    10%{-webkit-transform:scale(.91);transform:scale(.91);
        -webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}

        17%{-webkit-transform:scale(.98);transform:scale(.98);
            -webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}

            33%{-webkit-transform:scale(.87);transform:scale(.87);
                -webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}

                45%{-webkit-transform:scale(1);transform:scale(1);
                    -webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}


 @keyframes bgcolor {
    0% {
        filter: invert(6%) sepia(56%) saturate(916%) hue-rotate(203deg) brightness(89%) contrast(96%);
    }

    30% {
        filter: invert(30%) sepia(86%) saturate(6153%) hue-rotate(315deg) brightness(101%) contrast(95%);
    }

    60% {
        filter: invert(90%) sepia(98%) saturate(3208%) hue-rotate(127deg) brightness(100%) contrast(85%);
    }

    90% {
        filter: invert(28%) sepia(92%) saturate(7480%) hue-rotate(274deg) brightness(94%) contrast(94%);
    }

    100% {
        filter: invert(100%) sepia(41%) saturate(241%) hue-rotate(262deg) brightness(119%) contrast(92%);
    }
}


.down-arrow {
    width: 100%;
    height: auto;
    display: grid;
    justify-content: center;
}

.down-arrow a {
    text-decoration: none;
    color: var(--black);
}

.down-arrow p {
    font-family: var(--textfont);
    font-size: var(--textsize);
}

.down-arrow img {
    width: 25px;
    position: relative;
    left: 45px;
}

/*Section 1 - WHO WE ARE*/

.who-we-are {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100%;
}

.left-who-we-are {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50%;
}

.pic-who-we-are {
    width: 380px;
}

.right-who-we-are {
    width: 50%;
    display: grid;
    justify-content:center;
    align-items: center;
}

.right-who-we-are h1 {
    font-family: var(--headingfont);
    font-size: var(--headingsize);
    margin-bottom: 20px;
}

.right-who-we-are h1 span {
    color: var(--pink);
}

.right-who-we-are p{
    font-family: var(--textfont);
    font-size: var(--textsize);
}

.right-who-we-are p a {
    color: var(--pink);
}

.right-who-we-are p a:hover {
    text-decoration: none;
}



/*Section 2 - WHAT WE DO*/

.what-we-do{
    width: 100%;
    height: 100vh;

    background-image: url(images/what-we-do.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: var(--black);

    text-align: center;
    display: grid;
    align-items: center;
    justify-content: center;
}

.wrapper-longer {
    word-wrap: break-word;
    width: 800px;
    align-items: center;
}

.what-we-do h1 {
    color: var(--white);
    font-family: var(--headingfont);
    font-size: var(--headingsize);
    margin-bottom: 20px;
}

.what-we-do h1 span{
    color: var(--lightblue) ;
}

.what-we-do p {
    font-family: var(--textfont);
    font-size:var(--textsize) ;
    color: var(--white);
}
.what-we-do p a {
    color: var(--lightblue);
}

.what-we-do p a:hover {
    text-decoration: none;
}

.what-we-do p span {
    color: var(--lightblue);
}

/*Section 3 - OUR MISSION*/

.our-mission {
    width: 100%;
    height: 100vh;

    background-image: url(images/section3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--white);

    display: flex;
    align-items: center;
    justify-content: center;
}

.our-mission h1 {
    color: var(--black);
    font-family: var(--headingfont);
    font-size: var(--headingsize);
    margin-bottom: 20px;
}

.our-mission h1 span{
    color: var(--pink) ;
}

.our-mission p {
    font-family: var(--textfont);
    font-size:var(--textsize) ;
    color: var(--black);
}

.right-our-mission {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50%;
}

.left-our-mission {
    width: 50%;
    display: grid;
    justify-content:center;
    align-items: center;
    text-align: left;
}

.pic-our-mission {
    width: 500px;
}

/*Section 4 - SOME*/

.some {
    width: 100%;
    height: 100vh;

    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;

    background-image: url(images/our-team-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--black);
    z-index: 0;
}

.some h1 {
    color: var(--white);
    font-family: var(--headingfont);
    font-size: var(--headingsize);
    margin-bottom: 20px;
}

.some div{
    width: 100vw;
}

.some div div {
    width: 100%;
}

.insta-name{
    display: flex;
    align-items: center;
    padding-left: 200px;
}

.insta-name a {
    text-decoration: none;
}

.insta-name img{
    width: 70px;
    box-shadow: 0px 0px 10px 5px #0000001c;
}

.insta-post {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items:center;
}

.insta-post img {
    width: 300px;
    margin: 10px;
}

.sign-up{
    display: grid;
    justify-content: center;
    align-items:center;
}

.sign-up div {
    margin-bottom: 20px;
}

.some h2 {
    font-family: var(--headingfont);
    font-size: var(--textsize);
    color: var(--white);
}

.text-pop {
    color: var(--orange);
    display: none;
    margin-left: 10px;
    margin-top: 5px;
    font-family: var(--textfont);
}

/*Section 5 - OUR TEAM*/

.our-team{
    width: 100%;
    height: 100vh;

    text-align: center;
    justify-content: center;
    align-items: center;

    background-color: var(--white);
}

.our-team h1 {
    color: var(--black);
    font-family: var(--headingfont);
    font-size: var(--headingsize);
    margin-bottom: 10px;
    padding-top: 20px;
}

.members-our-team h2 {
    color: var(--black);
    font-family: var(--headingfont);
    font-size: 18px;
}

.members-our-team p {
    color: var(--black);
    font-family: var(--textfont);
    font-size: 16px;
}

.members-our-team {
    display: grid;
    grid-template-columns: auto auto auto;
}

.member-our-team img {
    width: 250px ;
}


.page-email {
    width: 600px;
    height: 55px;
    border-radius: 35px;
    border: none;
    padding: 10px;
    padding-left: 15px;
    font-size: 17px;
    font-family: var(--textfont);
    font-weight: 400;
    display: inline-block;
    position: relative;
}

.page-btn{
    display: inline-block;
    width: 200px;
    height: 55px;
    border-radius: 35px;
    border: none;
    padding: 10px;
    padding-left: 25px;
    font-size: 17px;
    
    font-family: var(--textfont);
    background-color: var(--lightpurple);
    color: var(--white);
    right: 60px;
    position: relative;
    cursor: pointer;
}

.sign-up{
text-align: left;
}

.sign-up div {
    margin-top: 30px;
}

/*FOOTER*/

footer{
    height: 50vh;
    width: 100%;
    background-color: var(--black);
    color: var(--white);
    padding: 50px;
}

footer .info img {
    width: 300px;
}

footer h1 {
    font-family: var(--headingfont);
    font-size: var(--textsize);
}

.address{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 40px;
    font-family: var(--textfont);
    font-size: var(--textsize);
    
}

.address div a {
    text-decoration: none;
    color: var(--white);
}

.address div a:hover {
    color: var(--lightpurple);
}


footer .mail {
    text-align: center;
    font-family: var(--textfont);
    font-size: 16px;
}

.address div div i {
    padding: 10px;
}

.copyright {
    text-align: center;
    margin-top: 15px;
    font-family: var(--textfont);
    font-size: 16px;
}


/*RESPONSIVE MOBILE*/

@media screen and (max-width: 480px) {

    .wrapper {
        width: 290px ;
    }

    /*Header*/
    .first-part {
        background-image: url(images/mobile-background.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-color: var(--white);
        height: auto;
    }

    header {
        height: 50vh;
    }

    .logo-div {
        height: 43vh ;
        text-align: center;
    }

    
    .logo-desktop {
        width: 400px;
    }

    .logo-div img {
        width: 320px;
    }

    .motto-desktop p {
        font-size: 16px;
    }

    nav ul li {
        display: none;
    }

    .some-desktop {
        display: none;
    }

    .heartbeat {
        width: 80px;
    }

    .holder{
        bottom: none;
        top: 20px;
    }

    .down-arrow {
        display: none;
    }

    /*Section 1*/
    .who-we-are {
        display: block;
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .left-who-we-are, .right-who-we-are {
        width: 100%;
    }

    .pic-who-we-are {
        width: 270px ;
        margin-top: 80px;
    }
    
    .right-who-we-are h1 {
        margin-top: 60px;
        font-size: var(--mobileheadingsize);
    }
    
    .right-who-we-are p {
        margin-top: 35px;
        margin-bottom: 75px;
        font-size: var(--mobiletextsize);
    }

    /*Section 2*/

    .wrapper-longer {
        width: 290px;
    }

    .what-we-do {
        height: 50vh;
        background-image: none;
    }

    .what-we-do h1 {
        font-size: var(--mobileheadingsize);
    }

    .what-we-do p {
        font-size: var(--mobiletextsize);
    }

    /*Section 3*/

    .our-mission {
        background-image: url(images/mobile-our-mission-bg.png);
        display: flex;
        flex-flow: column-reverse;
        justify-content: flex-end;
        align-items:none ;
        text-align: center;
        height: 85vh;
    }

    .our-mission h1 {
        font-size: var(--mobileheadingsize);
        margin-bottom: 35px;
    }

    .our-mission p {
        font-size: var(--mobiletextsize);
    }
    .pic-our-mission {
        width: 330px;
        margin-top: 100px;
    }

    .right-our-mission, .left-our-mission {
        width: 100%;
        text-align: center;
    }

    .left-our-mission{
        margin-top: 80px;
    }

    /*Section 4*/

    .some {
        height: 80vh;
        background-image: none;
    }
    .some h1 {
        font-size: var(--mobileheadingsize);
    }

    .sign-up {
        align-items: center;
        justify-content: center;
        text-align: center;
        display: block;
    }

    .insta-name {
        padding-left:20px; 
    }

    
    .page-email {
        width: 270px;
    }

    .page-btn {
        width: 270px;
        margin-top: 20px;
        padding: 0px;
        right: 0px;
    }

    .insta-name img {
        width: 50px;
    }

    .insta-post img{
        width: 100px;
        margin: 5px;
    }


    /*Section 5*/
   

    .our-team h1 {
        padding-top: 60px;
        margin-bottom: 20px;
        font-size: var(--mobileheadingsize);
    }

    .our-team h2 {
        margin-top: -10px;
        font-size: 14px;
    }
    
    .our-team p {
        font-size: var(--mobiletextsize);
    }

    .members-our-team {
        display: grid;
        grid-template-columns: auto auto;
    }

    .member-our-team {
        margin-top:20px;
    }

    .member-our-team img {
        width: 150px ;
    }

    /*Footer*/

    footer {
        padding: 20px;
    }

    footer h1 {
        font-size: 16px;
    }
    
    footer p{
        font-size: var(--mobiletextsize);
    }

    footer .links {
        display: none;
    }

    footer .copyright {
        margin-top: 40px;
    }

    /*NEWSLETTER*/

    .newsletter-section{
        height: 100vh;
        width: 100vw;
    }

    .newsletter-block {
        top: 0px !important;
        left: 0px !important;
        width: 90%!important;
        height: 60% !important;
        background-image: url(images/mobile-newsletter-bg.png) !important;
    }

    .close-button{
        position: relative;
        left: 220px !important;
        top: 0px !important;
    }
    
    .newsletter-block h1{
        font-size: 25px !important;
        margin-top: 20px !important;
    }

    .newsletter-block h2 {
        font-size: 15px!important;
    }

    #email {
        display: block;
        width: 230px !important;
    }

    #submit-btn {
       margin-top: 10px;
       right: 0px !important;
    }
}



/*POP UP NEWSLETTER*/  

.newsletter-section{
    width: 100%;
    height: 100vh;
    position: fixed;
    top:0px;
    display: none;
    background-color: rgba(255, 255, 255, 0);
    color: var(--white);
    z-index: 1;
}

.newsletter-center{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.newsletter-block {
    position: relative;
    width: 800px;
    height: 400px;
    padding: 50px;
    padding-top: 30px;
    background-color: var(--black);
    background-image: url(images/pop-up-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 10px 5px #0000001c;
    z-index: 2;
}

.close-button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: var(--white);
    cursor: pointer;
    position: relative;
    left: 670px;
    top: 0px;
}

.newsletter-block h1 {
    font-family: var(--headingfont);
    font-size: 35px;
    margin-bottom: 20px;
}

.newsletter-block h2 {
    font-family: var(--textfont);
    font-size: var(--textsize);
    font-weight: 400;
}

#news-form div {
    margin-top: 60px;
}

#email {
    position: relative;
    width: 350px;
    height: 40px;
    border-radius: 35px;
    border: none;
    padding: 10px;
    padding-left: 15px;
    font-size: 17px;
    font-family: var(--textfont);
    font-weight: 400;
}

#submit-btn{
    width: 150px;
    height: 41px;
    border-radius: 35px;
    border: none;
    padding: 10px;
    padding-left: 25px;
    font-size: 17px;
    font-family: var(--textfont);
    background-color: var(--lightpurple);
    color: var(--white);
    position: relative;
    right: 43px;
    cursor: pointer;
}